<style>
body {
    overflow: hidden;
    height: 100vh;
}
body * {
    font-family: "DFKai-SB", "Arial", "sans-serif" !important;
    line-height: 1.2rem;
    font-weight: bold !important;
}
body.invert {
    background-color: #000;
    filter: invert(100%);
}
.comment {
    color: #123456 !important;
}
blockquote {
    margin: 0;
}
strong {
    color: #fff;
}
blockquote {
    background-color: #DDD;
}
p {
    margin: 0;
}
#controls {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999;
}
#toolbar {
    background-color: #EEE;
    position: fixed;
    top: 0px;
    width: 100%;
}
#output {
    margin: 0 20px 0 20px;
}

.hidden {
    display: none;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.fill {
    height: 100%;
    width: 100%;
    overflow: scroll;
}
.button-off {
    background-color: #222;
    color: #555;
}
#scrollListener {
    position: fixed;
    top: 0;
    left: 0;
}
</style>

<div id="container" class="fill">
    <div id="output"><br/><br/>Instructions: convert telescript to text then upload here.</div>
</div>
<div id="scrollListener">
</div>

<div id="controls">
    <button id="toggleToolbar">Toolbar</button>
    <button id="toggleSync">Sync Scroll</button>
</div>
<div id="toolbar">
    <div>
        <label for="src">Play Script</label>
        <input id="src" type="file" />
    </div>
    <div>
        <label for="sub">Dynamic Substitution</label>
        <input id="sub" type="file" />
    </div>
    <div>
        <b>Zoom</b>
        <button id="zoomIn">+</button>
        <button id="zoomOut">-</button>
    </div>
    <div>
        <label for="hideComments">Hide Comments</label>
        <input id="hideComments" type="checkbox"/>
    </div>
    <div>
        <label for="scrollStep">Scroll Step</label>
        <input id="scrollStep" type="number" step="10">
    </div>
    <div>
        <button id="invert">Invert</button>
    </div>
</div>
<div id="payload" style="display: none">{{payload}}</div>

<script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/index.mjs"></script>
